<a href="{{ path('excel_stats') }}">Go to Stats</a>
<br /><br />

            <form method="post" {{ form_enctype(form) }} role="form">
                {{ form_errors(form) }}
                <div>
                    <div>
                        {{ form_row(form.userChoice) }}
                    </div>
                </div>
                <div>
                    <div>
                        {{ form_rest(form) }}
                    </div>
                </div>
            </form>
{% for flash_message in app.session.flashBag.get('message') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}